/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Sansita, sans-serif;

}

a {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif ;
}

/* Container */
.container {
    max-width: 1400px;
    margin: 0 auto;
} 

.button-custom {
    background: #E76088;
    border-radius: 10px;
    padding: 14px 30px;
    border: none;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Top Header */
.top-header {
    background-color: #f2e0e5;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.top-header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-weight: 300;
}

.center-text {
    color: #C81B10;
    font-weight: 400;
}

.right-text {
    display: flex;
}

.divider {
    margin: 0 10px;
    color: #000;
}

/* End Top Header CSS */

/* Main Menu */
.navbar {
    border-bottom: 1px solid #eee;
    box-shadow: 0px 2px 20px rgba(26, 17, 20, 0.1);
    position: fixed;
    width: 100%;
    background: white;
    margin-top: 40px;
    z-index: 999;
}

.navbar-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    max-width: 1400px;
    margin: 0 auto;
    }

    .nav-left,
    .nav-right {
        display: flex;
        list-style: none;
    }

    .nav-left li,
    .nav-right li {
        margin-right: 40px;
    }

    .nav-left a,
    .nav-right a {
        text-decoration: none;
        color: #000;
        font-weight: 700;
    }

    .nav-logo a {
        font-size: 54px;
        font-weight: 800;
        color: #000;
        text-decoration: none;
    }

/* End CSS Main Menu */

.main-content {
    padding-top: 150px; 
}

.page-header {
    margin: 80px 0 90px 0;
}

.page-header h2 {
    font-size: 54px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

/* Breadcrumb */
.breadcrumb {
    color: #888;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.banner_slide {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    gap: 8px;
}

.banner_slide img {
    width: 680px;
}

.proud-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.proud-section h2 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 40px;
}

.proud-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    /* gap: 10px; */
    max-width: 1400px;
    margin: 0 auto;
}

.proud-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    transition: transform 0.3s;
}

.proud-card:hover {
    transform: translateY(-5px);
}

.proud-card h3 {
    font-size: 36px;
    color: #e91e63;
    margin-bottom: 10px;
}

.proud-card .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.proud-card p {
    font-size: 14px;
    color: #777;
}

.about-section {
    gap: 10px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0px auto;
    /* padding: 20px; */
    background-color: #fff;
}

.about-images {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.about-images img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.about-text {
    padding: 20px;
    text-align: left;
}

.about-text h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.about-text button {
    padding: 10px 20px;
    background-color: #e91e63;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.about-text button:hover {
    background-color: #d81b60;
}

.image-container {
    position: relative;
    /* z-index: 10; */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.text-overlay h2{ 
    font-size: 50px;
    
}

.text-overlay p {
    margin: 0 auto;
    max-width: 323px;
    line-height: 26px;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;

}
.team-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.team-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Grid Layout */
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.team-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    width: 330px;
}

.team-card:hover {
    transform: translateY(-5px);
}

.avatar-social {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.team-card p {
    font-weight: 300;
    margin-bottom: 25px;
}

.team-card .position {
    font-size: 14px;
    font-weight: 300;
    color: #888;
    margin-bottom: 15px;
}

.social-icons img {
    width: 96px;
}


.benefits-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
    
}

.benefits-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ebeaea;
    border-radius: 10px;
    transition: transform 0.3s;
    align-items: center;
    height: 140px;
}


.benefit-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.benefit-info {
    text-align: left;
    padding-left: 20px;
}
.benefit-info p {
    margin-top: 10px;
    font-weight: 300;
}


.icon-circle {
    width: 60px;
    height: 60px;
    border: 2px solid #e91e63;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #e91e63;
    font-size: 24px;
}


.footer {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.subscribe {
    display: flex;
}

.subscribe p {
    width: 200px;
    display: flex;
    text-align: left;
    margin-right: 15px;
    font-weight: 700;
    align-items: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #e91e63;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-items {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: 213px;
    margin-bottom: 20px;
}
.footer-column h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}


.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #e91e63;
}

.social-links i {
    margin-right: 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}